@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .yellowBlock {
    @apply absolute right-0 top-0 -z-10 h-full w-1/2 rounded-tl-[50px] bg-tertiary shadow-lg xl:w-[28%];
  }

  .button {
    @apply w-48 self-center rounded-xl border-2 border-primary bg-primary py-2 text-center text-sm tracking-wider text-white shadow-lg transition-all duration-300 ease-in hover:bg-white hover:text-primary focus:outline-none sm:my-4 sm:w-56 sm:text-lg xl:self-start;
  }

  .counterBlock {
    @apply h-full w-full rounded-3xl bg-white bg-opacity-30 px-4 py-8 shadow-lg backdrop-blur-lg backdrop-filter sm:mx-[20%] sm:py-10 xl:mx-0 xl:h-72 xl:w-1/2 xl:rounded-[50px] xl:px-10;
  }

  .counterText {
    @apply mb-4 text-[8px] font-medium uppercase tracking-[0.2em] text-countdown sm:text-xs lg:text-lg xl:mb-8;
  }

  .counterNumber {
    @apply text-center text-xl font-medium tracking-wider sm:text-3xl lg:text-4xl xl:text-5xl;
  }

  .statCard {
    @apply mb-4 flex h-40 w-[47%] flex-col items-center justify-center space-y-3 rounded-3xl bg-customWhite px-2 text-center sm:h-48 sm:w-[22%] sm:justify-around sm:space-y-0 sm:rounded-2xl sm:px-4 xl:h-60 xl:justify-center xl:space-y-8 xl:rounded-3xl;
  }

  .popUpAnimation {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:cursor-pointer hover:bg-primary hover:text-white sm:space-y-6;
  }
  .popUpAnimation:hover
    > .statIconAndTitleContainer
    > .statNumber
    > .statPlusIcon
    > svg {
    @apply fill-yellow-400 opacity-100;
  }
  .statCard:hover > .statIconAndTitleContainer > div > svg {
    @apply opacity-100 fill-lime-950;
  }

  .statIconAndTitleContainer {
    @apply flex flex-col items-center justify-center space-y-3 sm:space-y-1 lg:space-y-8;
  }

  .statIconSize {
    @apply text-2xl lg:text-3xl xl:text-4xl;
  }

  .statNumber {
    @apply flex justify-center text-xl font-medium sm:text-2xl lg:text-3xl xl:text-5xl;
  }

  .statPlusIcon {
    @apply ml-1 text-[8px] sm:text-[10px] lg:ml-2 lg:text-sm xl:ml-3 xl:text-xl hover:fill-black;
  }

  .statDescriptionText {
    @apply text-xs leading-4 sm:text-sm lg:text-base xl:text-lg;
  }

  .plusIcon {
    @apply h-full opacity-30;
  }

  .contentOneTitle {
    @apply text-3xl sm:text-4xl;
  }

  .contentOneDescription {
    @apply text-sm sm:text-base xl:w-7/12 xl:text-lg;
  }

  .contentThreeContainer {
    @apply w-full space-y-4 rounded-3xl bg-white p-4 shadow-lg sm:px-20 xl:w-5/12 xl:space-y-8 xl:p-8;
  }

  .bulletPoint {
    @apply mr-1 mt-2 h-3 w-3 min-w-[12px] max-w-[12px];
  }

  .FAQcontainer {
    @apply my-2 rounded-xl bg-customWhite p-2 text-base shadow-xl xl:my-4 xl:rounded-2xl xl:p-4 xl:text-lg;
  }

  .FAQarrow {
    @apply h-5 w-5 text-primary xl:mr-8 xl:h-7 xl:w-7;
  }

  .footerIcon {
    @apply flex h-7 w-7 items-center justify-center rounded-full bg-primary text-white transition-colors hover:border-2 hover:border-primary hover:bg-customWhite hover:text-primary;
  }

  .socialMediaIcon {
    @apply h-4 w-4;
  }

  .contactIcon {
    @apply mr-2 mt-1 min-h-[20px] min-w-[20px] text-primary xl:h-6 xl:w-6;
  }
}
:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --yellow: #f1c93b;
  --hover-pink: #dc74c3;

  /* --red: #F31559;
  --magenta: #FF52A2;
  --orange: #FFB07F;

  --green: #1A5D1A;
  --yellow: #F1C93B;
  --blue: #78C1F3; */
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

p > .magic {
  display: inline-block;
  position: relative;
}

p > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--yellow),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.nav-link {
  transition: transform 300ms ease;
}
.nav-link:hover {
  transform: translateY(-5px);
  cursor: pointer;
  /* background: #f9f5f6;
  color: #F1C93B; */
}

a:hover {
  color: var(--hover-pink);
  /* opacity: 0.3; */
}

a.header-hover:hover {
  color: var(--hover-pink);
}

a.header-hover-x:hover {
  color: rgb(80, 5, 68);
}
